Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt*transparent: true
URxvt*tintColor: Blue
URxvt*shading: 10
URxvt*saveLines: 12000
URxvt*foreground: White
URxvt*background: Blue
URxvt*font: xft:Inconsolata for Powerline:size=8
color4: RoyalBlue
URxvt*color12: RoyalBlue
URxvt*scrollBar: true
URxvt*scrollBar_right: false
URxvt*scrollstyle: rxvt

